/*

   LINKS

*/

.link {
  text-decoration: none;
  transition: color .4s;
}

.link:link    { color: #30BBDB; }
.link:visited { color: #2D243B; }
.link:hover   { color: #004EAB; }
.link:active  { color: #C4E3E0; }

.underline { text-decoration: underline; }
.underline-hover:hover { text-decoration: underline; }

.dark-link { transition: color .2s ease-out; }
.dark-link:link       { color: #333; }
.dark-link:hover      { color: $purple; }
.dark-link:visited      { color: #333; }
.dark-link:active      { color: #000; }
