/* ==========================================================================
   SKINS
   ========================================================================== */
* {box-sizing:border-box;}
$green:#46D697;
.bg-dark {background:#222;color:#fff;}
.no-margin {margin:0;}

.section-padding {padding:40px 0;}
.half-padding {padding:20px 0;}
.header-padding {padding:0 0 20px 0;}

$value:128px;
.site-logo { font-family:"corner-store";}
.circle { border-radius: 9999px; }
.bg-white {background:#fff;color:#111;}

.mega {font-size:192px;}
.center {text-align:center;}
.serif {font-family:"ff-meta-serif-web-pro";}
html,body {height:100%;}
body {font-family: "ff-meta-serif-web-pro";font-weight:100;position:relative;}
h1,h2,h3,h4,h5,h6 {font-weight:100;}

.link-highlight {
  text-decoration:none;
  font-size:20px;
  color:#111;
  display:inline-block;
  text-transform: uppercase;
  -webkit-transition: padding, .4s;
  letter-spacing:.1em;
  padding:14px;
  border-radius:4px;
  margin-bottom:20px;
  border:1px solid #ccc;
  width:auto;
  color:darken($green,40%);
  font-family:"proxima-nova";
  background-size:24px 24px;
}
.sans-serif {font-family:"proxima-nova";}
.hover:hover {
  -webkit-transition: background-position, .4s;
  background-position:10px center;
  padding-left:45px;
}

.issue-hover:hover {
  -webkit-transition: background-color .5s;
  background-color:cyan;
}

.dl-link {
  background:#eee url(/svg/download.svg) no-repeat -100px center;
}

.fork-me {
  background:#eee url(/svg/fork.svg) no-repeat -100px center;
}
.maker {color:#999!important;}

.site-footer {
  background:#eee;
  color:#999;
  font-family:"proxima-nova";
  padding:20px 0;
  line-height:2;
  a:hover {color:cyan;}
  .text-link {padding-right:20px;}
}

.content {max-width:720px; margin:0 auto; width:100%; padding:0 20px 20px 20px;}
.content-wrapper {margin-top:0px;border-top:1px solid #ddd;}
p {font-size:20px;line-height:1.5;}

.h2 {font-size:32px;}
.text-link {text-decoration:none;color:#333;}
.centered {margin:0 auto;}
.meta {padding-top:20px;font-size:12px;color:#999;}
.db {display:block;}
.caps {text-transform:uppercase;}
.title-spacing {letter-spacing:.1em;}
.small-title {font-size:16px;}
.margin-top-20 {margin-top:60px;}
.lh-1 {line-height:1;}
.bottom-clear {margin-bottom:40px;}
.section-title {font-size:48px;margin-top:20px;margin-bottom:60px;}
.outro {font-size:32px;padding-top:20px;}

@media screen and (max-width:480px) {
   .mega {font-size:96px;} 
   .mobile-small {font-size:16px!important;}
   .h2 {font-size:26px;}
}
