/* ==========================================================================
   CASCADE THESE THINGS
   ========================================================================== */



html { 
  height: 100%;
}

body {
  font-family: "ff-meta-serif-web-pro";
  font-weight:100;
  position:relative;
  height: 100%;
}

* {
  box-sizing:border-box;
}

/* ==========================================================================
   CONTENT WRAPPERS
   ========================================================================== */

.content {
  max-width:720px; 
  margin:0 auto; 
  width:100%; 
  padding:0 20px 20px 20px;
}

.content-wrapper {
  margin-top:0px;
  border-top:1px solid #ddd;
}



/* ==========================================================================
   SKINS

   - Colors
   - Geometry
   ========================================================================== */

/* Colors
   ========================================================================== */

$first: #283236;
$second: #B6CED9;
$third: #23C5FF;
$fourth: #0685B2;
$fifth: #FF3C69;
$green: #46D697;

$yellow: #FFBE00;
$cyan: #0CE8C3;
$value:128px;
$red: #C62C2A;
$orange: #FF6526;
.bg-dark {  background:#222; color:#fff; }
.bg-white { background:#fff; color:#222; }

.dl-link { background:#eee url(/svg/download.svg) no-repeat -100px center; }
.fork-me { background:#eee url(/svg/fork.svg)     no-repeat -100px center; }

.site-footer .maker {color:#999;}

.hover:hover {
  -webkit-transition: background-position, .4s;
  background-position:10px center;
  background-color:$cyan;
  padding-left:40px;
}

.issue-hover {background-color:$cyan;}
.issue-hover:hover {
  -webkit-transition: background-color .3s;
  background-color:saturate($cyan,45%);
}

/* Geometry
   ========================================================================== */

.circle { border-radius: 9999px; }



/* ==========================================================================
   SPACING

   - Padding
   - Margin
   ========================================================================== */

.section-padding {  padding:60px 0 40px 0;}
.polaroid-padding {padding-top:40px;padding-bottom:20px;}
.half-padding {     padding:20px 0;}
.header-padding {   padding:0 0 40px 0;}
.padding-top {      padding-top:40px;}
.padding-top-half { padding-top:20px;}
.padding-bottom {   padding-bottom: 40px;}

.no-margin {        margin:0;}
.margin-top-20 {    margin-top:60px;}
.bottom-clear {     margin-bottom:40px;}
.centered {         margin:0 auto;}
.section-margin {
  margin-top:20px;
  margin-bottom:60px;
}

/* ==========================================================================
   TYPE
   ========================================================================== */

.site-logo { font-family:"corner-store";}
.mega {font-size:192px;}
.center {text-align:center;}
.serif {font-family:"ff-meta-serif-web-pro";}
.tagline {font-size:16px!important;color:#777;}
.sans-serif {font-family:"proxima-nova";}
.caps {text-transform:uppercase;}
.title-spacing {letter-spacing:.1em;}
.small-title {font-size:16px;}
.lh-1 {line-height:1;}
.h2 {font-size:32px;}

.section-title {
  font-size:48px;
}

.text-link { 
  text-decoration:none;
  color:#333;
}

p { 
  font-size:20px;
  line-height:1.5; 
}

.meta { 
  font-size:12px;
  color:#999;
}

h1,h2,h3,h4,h5,h6 {font-weight:100;}

.link-highlight {
  text-decoration:none;
  font-size:16px;
  color:#111;
  display:inline-block;
  text-transform: uppercase;
  -webkit-transition: padding, .4s;
  letter-spacing:.1em;
  padding:20px;
  border-radius:4px;
  margin-bottom:20px;
  border:1px solid #ccc;
  width:auto;
  color:#222;
  font-family:"proxima-nova";
  background-size:20px 20px;
}

.bug-report {border-top:1px solid #eee;}

.site-footer {
  background:#f3f3f3;
  color:#eee;
  font-family:"proxima-nova";
  padding:20px 0;
  line-height:2;
  .text-link {color:darken($cyan, 40%);padding-right:20px; -webkit-transition:top .2s;top:0;position:relative;}
  .text-link:hover {-webkit-transition: color ease-in .2s; color:#999;}
}

/* ==========================================================================
   DISPLAY
   ========================================================================== */


   
.db {display:block;}

/* ==========================================================================
   QUERIES
   ========================================================================== */



@media screen and (max-width:480px) {
 .h2 {font-size:24px;}
 .mega {font-size:96px;} 
 .mobile-small {font-size:16px!important;}
 .mobile-hide {display:none;}
}
